* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

#root {
  min-width: 100%;
  min-height: 100%;
}
.MuiCardHeader-action {
  max-width: 100%;
}
.MuiButton-root {
  min-width: 0px !important;
}
.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

.rdw-editor-toolbar {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px #888 solid;
}
.rdw-editor-toolbar [aria-selected="true"] {
  background-color: rgb(173, 215, 255);
  border: 1px rgb(35, 149, 255) solid;
}
.rdw-editor-main {
  padding: 0px 10px;
  margin: 0px 5px 5px 5px;
  background-color: #ddd;
}
.rdw-editor-main img {
  max-width: 100%;
}
.rdw-editor-wrapper {
  color: #111 !important;
}
.article-text {
  padding: 10px;
  color: #111;
  background-color: #ddd;
  margin: 0px 0px 15px 0px;
  line-height: 1.8;
  letter-spacing: 0.01em;
}
.article-text img {
  max-width: 100%;
}
.article-text p {
  margin: 0px 0px 5px 0px;
}
.article-text p:last-child {
  margin: 0;
}
.article-text ul li {
  list-style: disc;
  padding: 0px 0px 5px px;
}
.article-text ul > ul li {
  list-style: circle;
}
.article-text ul > ul > ul li {
  list-style: square;
}
.article-text ul,
.article-text ol {
  padding: 0px 0px 0px 15px;
}
.article-text code {
  background-color: #fff;
  padding: 1px 3px;
  border-radius: 2px;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}
