* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

#root {
  min-width: 100%;
  min-height: 100%;
}
.MuiCardHeader-action {
  max-width: 100%;
}
.MuiButton-root {
  min-width: 0px !important;
}
.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

#mui-rte-container > div:nth-child(2) {
  position: static !important;
}
#mui-rte-editor-container {
  padding: 5px;
  margin: 10px 0px;
}
#mui-rte-editor-container ul li {
  list-style: disc;
}
#mui-rte-editor-container ul {
  padding: 0px 0px 0px 17px;
}
#mui-rte-editor-container ol {
  padding: 0px 0px 0px 17px;
}
#mui-rte-editor-container blockquote {
  background: #bbb !important;
  padding: 0px 0px 0px 8px;
  margin: 0px 0px 0px -5px;
  border-left: 5px solid #333;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
}
